.column {
  background-color: #f4fafa;
  padding: 15px;
  border-radius: 8px;
  width: 32%;
  min-height: 100vh;
}

@media screen and (max-width: 991px) {
  .column {
    min-width: 48%;
    margin-right: 25px;
  }

  .column:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .column {
    min-width: 60%;
  }

  .column__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .column {
    min-width: 100%;
  }
}
